<nav class="flex justify-between items-center md:mx-4 md:mt-6 lg:max-w-5xl lg:mx-auto text-xs text-bold bg-indigo-400 text-white sticky top-0">
  <div class="flex flex-col ml-6 my-6">
    <%= link_to root_path, class: "flex items-center" do %>
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.33447 9L0.334473 5L4.33447 1" stroke="white" stroke-width="2"/>
      </svg>
      <span class="ml-2">Go Back</span>
    <% end %>
    <h1 class="text-xl">Roadmap</h1>
  </div>
  <div class="flex mr-4">
    <%= link_to new_feedback_path, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xs font-medium rounded-md text-white bg-purple-200 hover:bg-purple-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500" do %>
      <!-- Heroicon name: solid/plus -->
      <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      <span class="font-bold">Add Feedback</span>
    <% end %>
    <div class="ml-2">
      <%= render(UserLoginComponent.new(current_user: current_user, user_signed_in: user_signed_in?)) %>
    </div>
  </div>
</nav>

<div class="md:mx-4 md:mt-6 lg:max-w-5xl lg:mx-auto">

  <div class="max-w-full w-full" data-controller="tabs" data-tabs-active-tab="active text-indigo-400">

    <%# tabs for mobile  %>

    <%# stimulus js interacts with tabs it's less code to just hide this html list responsively rather than
    make responsive css changes and put a media query around the tabs code in application.scss %>

    <ul class="md:hidden roadmap-tabs list-reset flex text-center border-b-2 md:border-none text-xs font-bold border-gray-250 text-gray-250">
      <li class="planned-tab -mb-px w-1/3 mr-1" data-tabs-target="tab" data-action="click->tabs#change">
        <a class="inline-block py-3 px-4  hover:text-indigo-200 no-underline" href="#">Planned (<%= @results.planned.size %>)</a>
      </li>
      <li class="in-progress-tab mr-1 w-1/3" data-tabs-target="tab" data-action="click->tabs#change">
        <a class="inline-block py-3 px-4  hover:text-indigo-200 no-underline" href="#">In-Progress (<%= @results.in_progress.size %>)</a>
      </li>
      <li class="live-tab mr-1 w-1/3" data-tabs-target="tab" data-action="click->tabs#change">
        <a class="inline-block py-3 px-4  hover:text-indigo-200 no-underline" href="#">Live (<%= @results.live.size %>)</a>
      </li>
    </ul>

    <div class="flex lg:gap-5">
      <div class="hidden md:flex md:flex-col flex-1 py-4 px-4 md:px-1.5 overflow-hidden border-l border-b border-r md:border-none" data-tabs-target="panel">
        <h2 class="text-xl md:text-sm lg:text-xl font-bold text-indigo-400">Planned (<%= @results.planned.size %>)</h2>
        <p class="text-xs md:text-sm lg:text-lg text-gray-300">Ideas prioritized for research</p>
        <div class="w-full bg-gray-100">
          <% @results.planned.limit(9).each do |planned| %>
            <%= render(RoadmapItemComponent.new(feedback: planned, current_user: current_user)) %>
          <% end %>
        </div>
      </div>

      <div class="hidden md:flex md:flex-col flex-1 py-4 px-4 md:px-1.5 overflow-hidden border-l border-b border-r md:border-none" data-tabs-target="panel">
        <h2 class="text-xl md:text-sm lg:text-xl font-bold text-indigo-400" >In-Progress (<%= @results.in_progress.size %>)</h2>
        <p class="text-xs md:text-sm lg:text-lg text-gray-300">Features currently being developed</p>
        <div class="w-full bg-gray-100">
          <% @results.in_progress.limit(9).each do |in_progress| %>
            <%= render(RoadmapItemComponent.new(feedback: in_progress, current_user: current_user)) %>
          <% end %>
        </div>

      </div>

      <div class="hidden md:flex md:flex-col flex-1 py-4 px-4 md:px-1.5 overflow-hidden border-l border-b border-r md:border-none" data-tabs-target="panel">
        <h2 class="text-xl md:text-sm lg:text-xl font-bold text-indigo-400">Live (<%= @results.live.size %>)</h2>
        <p class="text-xs md:text-sm lg:text-lg text-gray-300">Released features</p>
        <div class="w-full bg-gray-100">
          <% @results.live.limit(9).each do |live| %>
            <%= render(RoadmapItemComponent.new(feedback: live, current_user: current_user)) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
