<!-- sidebar/slideover start -->
<aside id="sidebar-mobile">

  <!-- overlay starts -->

  <div data-slideover-target="overlay" class="fixed bottom-0 top-18 right-0 flex z-40 transition-opacity ease-linear duration-300 opacity-0 hidden">
    <div class="fixed bottom-0 top-18 right-0 left-0">
      <div class="absolute inset-0 bg-gray-300 opacity-75"></div>
    </div>

    <!-- Actual sidebar panel start -->
    <div id="slideover-target" data-slideover-target="menu" class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-100 transition ease-in-out duration-300 transform translate-x-full hidden">
      <div class="mt-5 flex-1 h-0 overflow-y-auto px-6">
        <nav class="px-2 test-mobile flex flex-col space-y-4">

          <div class="flex justify-end">
            <%= render(UserLoginComponent.new(current_user: current_user, user_signed_in: user_signed_in?)) %>
          </div>

          <section>
            <%= render(CategoryLinksComponent.new(category: params[:category])) %>
          </section>

          <section class="mt-6 flex-1 px-6 py-2 sm:flex sm:flex-col lg:flex-initial rounded-lg bg-white">
            <div class="flex justify-between">
              <h2 class="text-xl font-bold">Roadmap</h2>
              <%= link_to "view", roadmaps_path, class: "ml-14 text-indigo-200 underline" %>
            </div>

            <ul class="mt-6 flex flex-col list-none  text-gray-300 text-left leading-8">
              <% @results.roadmap.each do |key, value| %>
                <li class="flex justify-between items-center">
                  <span class="h-2 w-2 rounded-full <%= status_to_bg_color[key] %>"></span>
                  <span class="ml-4 flex-1"><%= Feedback.human_enum_name(:status, key) %></span>
                  <span><%= value %></span>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
    </div>
    <!-- Actual sidebar panel end -->
  </div>
  <!-- overlay ends -->
</aside>
<!-- sidebar/slideover end -->
